.grid-area-3-item{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
}

@media screen and (max-width: 1000px){
    .grid-area-3-item{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 20px; 
    }
}

@media screen and (max-width: 600px){
    .grid-area-3-item{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        gap: 20px; 
    }
}
