.cart-grid{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 5fr 2fr; 
    gap: 60px; 
}

@media screen and (max-width: 1000px){

    .cart-grid{
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 60px;
    }
}


h1{
    font-size: 32px;
    line-height: 44px;
}

@media screen and (max-width: 700px){
    h1{
        font-size: 22px;
        line-height: 28px;        
    }
}

.for-table-block{
    max-width: calc(100vw - 60px);
    width: 100%;
    overflow-x: auto;        /* Включаем горизонтальную прокрутку, если контент выходит за пределы */
    -webkit-overflow-scrolling: touch; /
}

.cart-table{
    /* min-width: 600px; */
    width: 100%;
    border-collapse: collapse;
}
.cart-table .product-card{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-table thead{
    -webkit-box-shadow: 0px 1px 0px 0px #D6D6D6;
    -moz-box-shadow: 0px 1px 0px 0px #D6D6D6;
    box-shadow: 0px 1px 0px 0px #D6D6D6;
}

.cart-table thead th{
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-bottom: 10px;
}

.cart-table tbody td{
    padding-top: 20px;
    white-space: nowrap;
}

.cart-table .product-block-box{
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}

.cart-table .bottom-text-box{
    display: flex;
    align-items: center;
}


.product-counter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-counter{
    max-height: 52px;
    height: 52px;
    border: 2px solid #0E9940;
    border-radius: 60px;
    padding: 0.5rem;
    font-size: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-table-notification{
    background: #E2F1FB;
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    text-wrap: balance;
}

/* sidebar  */

.cart-sidebar{
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cart-short-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-count-qnt{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.products-count-price{
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
}

.delivery-sub-title{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #606060;
}
.delivery-title{
    color: #EFA971;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
}
.remainder-counter{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.free-deliver-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBF5E1;
    padding: 20px;
    border-radius: 12px;
    gap: 10px;
}





/* free-delivery-counter  */
.free-delivery-counter {
    background: linear-gradient(to right, #EFA971 0%, #EFA971 50%, #fff 50%, #fff 100%);
    border-radius: 8px;
    height: 6px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin: 10px 0;
  }
  
  .free-delivery-counter::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #EFA971;
    background-image: url('../icon/delivery-white.svg');
  }

/* end free-delivery-counter  */




@media screen and (max-width: 1000px){
    .cart-table thead{
        display: none;
    }
    .product-table-grid {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "product-name product-name product-name"
        "product-current-price product-count product-all-price";
        position: relative;
        align-items: center;
    }
    
    .product-current-price { grid-area: product-current-price; }
    
    .product-count { grid-area: product-count; }
    
    .product-all-price { grid-area: product-all-price; }
    
    .product-name { grid-area: product-name; }

    .product-remove{
        position: absolute;
        right: 0;
        top: 0;
    }  
}